@import "tailwindcss";
@import "tw-animate-css";
 @plugin "daisyui";


:root {

    --bg-primary: #242529    ;
    --bg-secundary: #37373F;


    --primary: #6F7187;
    --secondary: #37373F;
    --text-main: #E8E8E8;
    --text: #D9D9D9;
}


@font-face {
  font-family: 'Abel';
  src: url('fonts/Abel/Abel-Regular.ttf') format('truetype');
  /* Ruta absoluta con / */
  font-weight: 400;
  /* Peso específico */
  font-display: swap;
}

/* Clase CSS personalizada */
.font-abel {
  font-family: 'Abel', sans-serif;
}






/* 

---break---

 */

/* @custom-variant dark (&:is(.dark *)); */



























/* 
















themes: {

    darck: {
                --primary-100: #6c35de;
                --primary-200: #a364ff;
                --primary-300: #ffc7ff;
                --accent-100: #cb80ff;
                --accent-200: #373737;
                --text-100: #ffffff;
                --text-200: #e0e0e0;
                --bg-100: #241b35;
                --bg-200: #342a45;
                --bg-300: #4d425f;
    }

    claro: {
            --primary-100: #3F51B5;
                --primary-200: #757de8;
                --primary-300: #dedeff;
                --accent-100: #2196F3;
                --accent-200: #003f8f;
                --text-100: #333333;
                --text-200: #5c5c5c;
                --bg-100: #FFFFFF;
                --bg-200: #f5f5f5;
                --bg-300: #cccccc;
    }

}

 */

/* 

---break---

 */
