---
import "../styles/global.css";

import { Sidebar } from "../components/react/sidebar/Sidebar";
import Navbar from "@/components/react/navbar/Navbar";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props
const { Name } = Astro.locals;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title} - my funances </title>
  </head>
  <body class="flex min-h-screen font-sans bg-[var(--bg-primary)]">
    <div class="pt-5">
      <Sidebar client:load />
    </div>
    <div class="divider lg:divider-horizontal"></div>

    <main class="flex-1 pt-10 pr-10">
      <div class="mb-10">
      <Navbar title={title} nameUser={Name}/> 
      </div>
      <slot />
    </main>
  </body>
</html>









              
          