---
import "../styles/global.css";

import Navbar from "@/components/react/Navbar"; // nuevo  

const { Name } = Astro.locals;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="min-h-screen min-w-screen bg-gradient-to-r from-emerald-200/70 to-purple-200/70 p-2 md:p-8"
    >
      <Navbar client:load username={Name} />
      

      <slot />
    </section>
  </body>
</html>
