---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class=" bg-gradient-to-r from-emerald-200/70 to-purple-200/70">
      <slot />
    </section>
  </body>
</html>
